.card1{

    overflow: hidden;
 
}
.card-img{


	object-fit: contain;
filter: brightness(0.6);


}
.card-img img{

	border-radius: 20px !important;
	


}
.card-title{
	width: fit-content;
    bottom: 0%;
 left: 50%;
 transform: translateX(-50%);
}
.card-title{

}


.item-img {
    position: relative;
    
}

.item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured-tag {
    position: absolute;
    background-color: #4CAF50;
    color: white;
    margin-left: 210px;
    margin-top: 25px;
    padding: 5px 30px;
    font-size: 0.875rem;
    transform: rotate(45deg);
    transform-origin: center;
    z-index: 2;
}

.type-tag {
    position: absolute;
    background-color: #4CAF50;
    color: white;
    margin-top: 150px;
    margin-left: 10px;
    padding: 4px 12px;
    border-radius: 8px;
    font-size: 0.875rem;
}

.heart-icon {
    position: absolute;
    margin-top: 150px;
   margin-left: 250px;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.properties-cards .item-text{
		background: #f2f2f2;
max-width: 400px;
padding: 20px;


}

.properties-cards .item-text .price-part{
    margin-bottom: 10px;
	border-bottom: 1px dashed #c7c7c7;
    justify-content: end;

}
.properties-cards .item-text .price-part .type{
    display:flex;
	font-size: 13px;
	font-weight: 700;
	vertical-align: middle;
	justify-content: space-between;

}
.properties-cards .item-text .price-part .type .rent{
	background: #f6e6ca;
    color: #b4911c;
    padding: 2px 8px;
    border: 1px solid #c4a84b;
    display: inline;
    border-radius: 6px;

} 
.properties-cards .item-text .price-part .price{
	display: flex;
	color: #202020;
	font-weight: 700;
	font-size: 22px;
	vertical-align: middle;
	text-align: right;


} 
.location{
    font-size: 16px;
    color: #4CAF50;
}
.review-part i{
    color: #fbc715;
    font-size: 14px;
}
.bed-size{
	margin-top: 20px;
	border-top: 1px dashed #c7c7c7;
	padding-top: 10px;
}
.bed-size .size-item{
	float: left;
	width: 33.33%;
}
.size-item .icon{
    text-align: center;
}
.size-item .icon i{
	text-align: center;
	color: #236884;
}
.size-item .text{
    text-align: center;
	padding: 0;
	font-size: 14px;
}