* {
    font-family: "Maven Pro", serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
}

/* Navbar styles */
.navbar {
    position: relative;
}

.logo img {
    max-height: 80px;
}

.nav-links {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.nav-links ul {
    list-style: none;
    display: flex;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

#nav-items {
    gap: 10px;
    font-weight: bold;
}

.nav-selector {
    background: transparent !important;
    color: #000000 !important;
    border: 0 !important;
    font-size: 16px;
    font-weight: bold;
    margin-top: 1px;
    padding-left: 10px;
    padding-right: 0;
}

.nav-links a:hover {
    color: rgb(149, 255, 0);
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: transparent;
}

.hamburger-icon {
    width: 30px;
    height: 3px;
    background-color: #33B836;
    position: relative;
}

.hamburger-icon::before,
.hamburger-icon::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #33B836;
    transition: transform 0.3s ease;
}

.hamburger-icon::before {
    top: -8px;
}

.hamburger-icon::after {
    bottom: -8px;
}

/* PAGES */
/* Hide the sub-menu by default */
.nav-links ul ul {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    z-index: 1;
}

.nav-links ul ul li {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
    margin: 2px;
}

.nav-links li:hover>ul {
    display: block;
}

/* Top Bar */
.top-bar {
    background-color: #33B836;
    align-items: center;
    height: 36px;
}

.top-left {
    list-style: none;
    color: white;
    display: flex;
    gap: 10px;
}

.top-right {
    list-style: none;
    color: white;
    display: flex;
    gap: 10px;
}

.top-bar-selector {
    background: transparent !important;
    color: #ffffff !important;
    border: 0 !important;
    font-size: 14px;
    margin-top: 1px;
    padding-left: 10px;
    padding-right: 0;
}

.top-bar-selector option {
    color: #000 !important;
}

/* Search-section */
.search-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.section-bg {
    background-color: #00000067;
    height: 500px;
}

.banner-1-items {
    padding: 150px;
}

.banner-1-items h1 {
    color: #ffffff;
}
.btn-submit{
    background-color: #33B836;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
}
.input-group{
    background: rgb(245, 245, 245, 0.3);
	padding: 10px;
	border-radius: 6px;
}

/* Categories section */
.card {
    position: relative;
    width: 350px;
    height: 200px;
    margin: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding-top: 120px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
}
.card h3 {
    margin:0;
    font-size: 1.5rem;
}
.card p {
    font-size: 1rem;
    margin-top: 5px;
}
/* Location-Catagory */
.card-2 {
    position: relative;
    width: 200px;
    height: 150px;
    margin: 60px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .card-2 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding-top: 90px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  .card-2 h3 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .card-2 p {
    font-size: 1rem;
    margin-top: 5px;
  }
  
  .slider-main {
    display: flex;
    gap: 10px;
    position: relative;
    overflow: hidden; 
  }
  
  .slider-cards {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }
.btn-slider{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
  }
  
.prev-btn {
    left: 1px;
}
  
.next-btn {
    right: 1px;
}
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
/* FP-Section   */
.fa-card-texts{
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 0 0 10px 10px;
}
.item-img {
    position: relative;
}

.item-img img {
    width: 416px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.rent-btn{
	background: #f6e6ca;
    color: #b4911c;
    padding: 2px 8px;
    border: 1px solid #c4a84b;
    display: inline;
    border-radius: 6px;
}
.fp-star-icon{
    color: #fbc715;
}
.fp-card-location{
    color: #4CAF50;
    font-size: 22px;
}
.pricing{
    gap: 150px;
}
.pricing{
    align-items: center;
    padding: 10px;
}
.pricing-hr{
    width:100%;
    background-color: #202020;
	border-bottom: 1px dashed #c7c7c7;
    text-align: center;
}
.type-tag {
    position: absolute;
    background-color: #4CAF50;
    color: white;
    margin-top: -45px;
    margin-left: 10px;
    padding: 4px 12px;
    border-radius: 8px;
    font-size: 0.875rem;
}
.heart-icon {
    position: absolute;
    margin-top: -49px;
    margin-left: 350px;
    color: white;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.fa-end-icons{
    display: flex;
    gap: 80px;
    text-align: center;
    color: #236884;
}
.featured-text {
    position: absolute;
    background-color: #4CAF50;
    color: white;
    margin-top: -249px;
    margin-left: 283px;
    padding: 4px 49px;
    font-size: 0.875rem;
    rotate: 45deg;
    font-size: 18px;
}


/* Foorter  */
.footer-bg {
    margin-top: 50px;
    padding-bottom: 60px;
    background: #f3f3f3;
    padding: 50px;
    border-top: 1px solid #dedede;
}

.footer-items-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-items-title {
    margin-bottom: 10px;
    color: #33B836;

}

.footer-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-items ul li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.footer-items ul li i {
    margin-right: 10px;
}

.footer-social-icon ul li i {
    color: #33B836;
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #33B836;
    border: 1px solid #33B836;
    color: #fff;
    transition: all 0.4s;
    padding-left: 0;
    border-radius: 3px;

}

.copyright {
    text-align: left;
    color: #333;
    border-top: 1px solid #a8a8a8;
    margin-top: 20px;
    padding-top: 20px;
}

.copyright p {
    margin: 0;
}


/* Responsive */
@media screen and (max-width: 768px) {

    /* Navbar */
    .nav-items {
        margin-top: -5vh;
        text-align: center;
    }

    .nav-links {
        position: absolute;
        top: 90px;
        right: 0;
        width: 100%;
        background-color: rgba(4, 109, 27, 0.852);
        display: none;
        flex-direction: column;
        padding: 50px 0 0;
        align-items: center;
        z-index: 1;
    }

    .nav-links ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .nav-links a {
        display: block;
        padding: 10px;
        width: 100%;
        text-align: center;
        color: black;
        font-size: 16px;
    }

    .nav-links a:hover {
        color: #00ffc8;
    }

    .ham-icon {
        padding-top: 20px;
    }

    #nav-toggle:checked+.nav-toggle-label+.nav-links {
        display: flex;
    }

    #nav-toggle:checked+.nav-toggle-label .hamburger-icon {
        background-color: transparent;
    }

    #nav-toggle:checked+.nav-toggle-label .hamburger-icon::before {
        transform: rotate(45deg);
        top: 0;
    }

    #nav-toggle:checked+.nav-toggle-label .hamburger-icon::after {
        transform: rotate(-45deg);
        bottom: 0;
    }

    .nav-toggle-label {
        display: flex;
    }
    .input-group{
        background: rgb(245, 245, 245, 0.3);
        padding: 10px;
        flex-direction: column;
    }
    .form-select{
        width: 100% !important;
    }
    .form-control{
        border-radius: none;
    }


    .banner-1-items {
        padding: 20px;
        padding-top: 90px;
    }
    .card {
        width: 100%;
        margin: 20px 0;
    }
    .card .overlay {
        padding-top: 60px;
    }
    .card h3 {
        font-size: 1.2rem;
    }
    .card p {
        font-size: 0.9rem;
    }
    .card-2 {
        position: relative;
        width: 200px;
        height: 150px;
        margin: 20px;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }
      .fa-card-texts{
        background-color: #f2f2f2;
        width: 416px;
        padding: 20px;
        border-radius: 0 0 10px 10px;
    }

}
